#wheel
wheel
git+https://github.com/openai/whisper.git 
pandas
numpy
scikit-learn
matplotlib
torch
torchvision
tensorflow
tokenizers
#openai whisper
#devops
black
click
pytest
pytest-cov
pylint
boto3
#web
fastapi
uvicorn
#datascience
jupyter
seaborn
dask
#geo
geopy
#MLOps
gradio
streamlit
protobuf
onnx
databricks
databricks-cli
databricks-sql-connector
mlflow
##MLOps-HuggingFace
transformers
sentencepiece
datasets
#deep learning
#openai whisper
#git+https://github.com/openai/whisper.git 
#yake
yake


